body {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  line-height: 1.25;
  font-style: normal;
  background: white;
  position: relative;
}

h1 {
  font-weight: 900;
  font-size: 100px;
  line-height: 1;
  text-align: left;
  width: 3.25in;
  height: 4.25in;
  margin-left: 0in;
  margin-top: 0in;
  z-index: 1000;
  display: flex;
  cursor: help;
  /* background-color: aqua; */
}
h3 {
  font-weight: 400;
  font-size: 20px;
}

h6 {
  break-after:page
}
p {
  line-height: 1.5;
}

/* text */
#subtitle {
  font-size: 50px;
  z-index: 100;
  font-weight: 900;
  width: 3.25in;
  height: 0.65in;
  margin-top: -0.5in;
  cursor: wait;
  /* background-color: red; */
}
#name {
  text-align: right;
  height: .25in;
  width: 3.25in;
  margin-top: 0.6in;
  /* background-color: aquamarine; */
}
#page2text {
  width: 3.25in;
  height: 2.55in;
  /* background-color: red; */
}
#page3description {
  position: absolute;
  /* display: flex; */
  z-index: 1000;
  width: 3in;
  height: .5in;
  margin-top: 0in;
  /* margin-top: -5.75in; */
  /* background-color: aquamarine; */
}
#page5text {
  width: 3.25in;
  height: 1.25in;
  position: absolute;
  /* display: flex; */
  margin-top: -0.25in;
  page-break-before: always;
  /* background-color: red; */
}
#page6description1 {
  position: absolute;
  width: 1.5in;
  margin-left: 1.75in;
  /* margin-top: 0in; */
  /* background-color: aqua; */
}
#page6description2 {
  position: absolute;
  width: 1.5in;
  margin-left: 0in;
  margin-top: 3.25in;
  /* background-color: aqua; */
}
#page6description3 {
  position: absolute;
  width: 1.5in;
  margin-left: 2in;
  /* margin-top: 0in; */
  /* background-color: aqua; */
}
#page6description4 {
  position: absolute;
  width: 1.5in;
  margin-left: 0in;
  margin-top: 3.25in;
  /* background-color: aqua; */
}
#page9text {
  width: 3.25in;
  height: 1.5in;
  position: absolute;
  margin-top: 4.25in;
  page-break-before: always;
  /* background-color: red; */
}
#page14text1 {
  width: 3.25in;
  height: 4.25in;
  position: absolute;
  margin-top: -.25in;
  /* background-color: blue; */
  cursor: help;
}
#page14text2 {
  width: 0.25in;
  height: 0.25in;
  text-align: center;
  position: absolute;
  z-index: 10000;
  margin-top: 4.5in;
  /* background-color: blue; */
  cursor: wait;
}
#page15text1 {
  width: 0.25in;
  height: 0.25in;
  text-align: center;
  position: absolute;
  z-index: 10000;
  margin-left: 3in;
  /* margin-top: 4.5in; */
  /* background-color: blue; */
  cursor: wait;
}
#page15text2 {
  width: 0.25in;
  height: 0.25in;
  text-align: center;
  position: absolute;
  z-index: 10000;
  margin-top: 4.25in;
  /* background-color: blue; */
  cursor: wait;
}
#page16text {
  width: 3.25in;
  height: 4.25in;
  position: absolute;
  margin-top: -.5in;
  /* background-color: blue; */
}

/* images */
#cover {
  margin-top: -5in;
  margin-left: 2.40in;
  z-index: 1000;
  width: in;
  height: 2.5in;
  display: flex;
  transform: rotate(-15deg);
  position: absolute;
}
#coverfront {
  display: flex;
  width: in;
  height: 2.35in;
  z-index: -1000;
  /* margin-top: -.01in; */
  margin-top: -1.52in;
  margin-left: -.75in;
  position: absolute;
}
#item1 {
  width: 6.5in;
  transform: rotate(-25deg);
  margin-top: .5in;
  margin-left: 0in;
}
#item2 {
  width: 4.25in;
  position: absolute;
  margin-top: .5in;
  margin-left: -1in;
}
#image2 {
  position: absolute;
  /* display: flex; */
  width: 5in;
  height: 8.25in;
  margin-top: -1.25in;
  margin-left: -1in;
  page-break-before: always;
}
#character1 {
  position: absolute;
  height: 2.5in;
  width: 1.5in;
  margin-top: 0in;
  margin-left: 0in;
  z-index: 1000;
  cursor: help;
}
#character2 {
  position: absolute;
  height: 2.5in;
  width: 2.15in;
  margin-top: 3.25in;
  margin-left: 1.25in;
  z-index: 1000;
  cursor: help;
}
#character3 {
  position: absolute;
  height: 2.5in;
  width: 2.15in;
  margin-top: 0in;
  margin-left: 0in;
  z-index: 1000;
  cursor: help;
}
#character4 {
  position: absolute;
  height: 2.5in;
  width: 2in;
  margin-top: 3.25in;
  margin-left: 1.5in;
  z-index: 1000;
  cursor: help;
}
#image3 {
  width: 5in;
  height: 8in;
  margin-top: -1in;
  margin-left: -1in;
  cursor: help;
}
#image4 {
  position: absolute;
  width: 5in;
  height: 9in;
  margin-top: -1.5in;
  margin-left: -0.75in;
}
#image5 {
  position: absolute;
  width: 5in;
  height: 9in;
  margin-top: -1.6in;
  margin-left:-1in;
}
#image6 {
  position: absolute;
  width: 5in;
  height: 9in;
  margin-top: -1.5in;
  margin-left: -0.75in;
}
#merch4 {
  position: absolute;
  width: 3.75in;
  margin-left: -0.25in;
  margin-top: 4.5in;
  z-index: -1000;
  cursor: help;
}
#merch1 {
  position: absolute;
  height: 4in;
  margin-top: 2in;
  margin-left: .5in;
  cursor: help;
}
#merch3 {
  position: absolute;
  height: 3.5in;
  margin-top: 0in;
  margin-left: -1in;
  z-index: -1000;
  cursor: help;
}
#coverback {
  display: flex;
  width: in;
  height: 2.35in;
  z-index: -1000;
  /* margin-top: -.01in; */
  margin-top: -.7in;
  margin-left: 2.25in;
  position: absolute;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}

/* page setup */
@media print {
  body {
    background: white;
  }
}
@page {
  size: 4.75in 8in;
  margin-top: 1in;
  margin-bottom: 1in;
  /* bleed: 0.25in;
  marks: crop; */
}
@page:left {
  margin-left: 1in;
  margin-right: 0.5in;
}
@page:right {
  margin-left: 0.5in;
  margin-right: 1in;
}